/*--------------------------------------------------------------------- 
import Fonts 
---------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap");

header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navigation_bar {
  width: 100%;
  height: 47px;
  display: flex;
  font-size: 20px;
  margin: 0 0 20px 0;
  align-items: center;
  background-color: black;
  position: relative;
  padding: 5px 90px;
}

.nav_logo {
  padding: 4px 0 0 0;
}

.search_bar {
  width: 20em;
  display: flex;
  margin: 0px 0px 0px 30em;
  min-width: 12em;
}

.search_bar input[type=search] {
  width: 300px;
  padding: 5px 3px 5px 3px;
  border-style: none;
  border: 1px solid purple;
}

.menu_link ul {
  width: 600px;
  display: flex;
  justify-content: left;
}
.menu_link li {
  margin: 0px 20px 0px 5px;
  align-items: center;
}
.menu_link a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  color: #fff;
}
.menu_link #menu_btn {
  display: inline-flex;
  align-items: center;
  height: 2.5em;
}
.menu_link #menu_btn:hover {
  color: red;
}

.article_one {
  width: 100%;
  margin: 0 0 50px 0;
  align-items: center;
  position: relative;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  display: flex;
}

.main_article {
  position: relative;
  width: 600px;
}
.main_article .main-info {
  width: 100%;
}

.side_article {
  width: 350px;
  position: relative;
  justify-content: left;
}
.side_article ul {
  margin: 10px 0 0 0;
}
.side_article li {
  list-style: none;
  margin: 5px 0 0 0;
  color: grey;
}

.second_article {
  width: 400px;
}

#box_content {
  width: 330px;
}

.article_two {
  width: 100%;
  margin: 0px 0px 20px 0px;
  flex-direction: column;
  justify-content: left;
  position: relative;
  display: flex;
  /* brief */
  /* box 1 */
  /* box 2 */
  /* box 3 (column list) */
  /* breifing 4 (x4 boxes) */
}
.article_two .briefing_wrapper {
  width: 100%;
  max-height: 850px;
  position: relative;
  display: flex;
}
.article_two .world_briefing {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 900px auto auto;
  background-color: #fff;
  color: #444;
}
.article_two #box {
  padding: 20px;
  border-radius: 5px;
}
.article_two .briefing_one {
  display: flex;
  grid-column: 1;
  grid-row: 1;
}
.article_two .briefing_one .brf_one_info {
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
}
.article_two .briefing_two {
  width: 350px;
  margin: 0 0 0 0px;
  grid-column: 2;
  justify-content: right;
  display: flex;
  grid-row: 1;
}
.article_two .briefing_two .brf_two_info {
  width: 330px;
}
.article_two .briefing-three {
  min-width: 300px;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.article_two .briefing-three .briefing_list {
  padding: 5px;
}
.article_two .briefing-three li {
  list-style: none;
  margin: 0 0 20px 0;
  border-bottom: 1px solid black;
  padding: 5px;
}
.article_two .briefing_four {
  height: 350px;
  display: flex;
  grid-column: 1/3;
  grid-row: 2;
}
.article_two .briefing_four #brf_four_info {
  width: 300px;
  padding: 10px 18px;
  text-align: justify;
}

#article_three {
  width: 100%;
  height: auto;
  padding: 10px;
}
#article_three .economy-wrapper {
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 45% auto;
  justify-content: center;
  grid-gap: 20px;
  padding: 20px;
}
#article_three .heading {
  width: 700px;
  margin: 0px 40px 0px 10px;
  position: relative;
}
#article_three .economy {
  width: 700px;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  flex: 1 15vw;
}
#article_three .economy #info {
  width: 300px;
  margin: 15px;
  text-align: justify;
}

.footer {
  background: #222222;
  padding-top: 90px;
}
.footer .container {
  width: 100%;
  padding: 10px 10%;
}
.footer .row {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}
.footer .newslatter_form {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.footer .enter {
  color: #000;
  border: inherit;
  padding: 0 30px;
  height: 66px;
  width: 100%;
  font-size: 17px;
}
.footer .subs_btn {
  max-width: 289px;
  display: inline-block;
  background: #151515;
  height: 67px;
  width: 100%;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  transition: ease-in all 0.5s;
  cursor: pointer;
}
.footer .subs_btn:hover {
  background: #bdbdbe;
  color: #151515;
  transition: ease-in all 0.5s;
}
.footer .Information h3 {
  color: #ffffff;
  font-size: 23px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 15px;
  margin-top: 26px;
  text-transform: uppercase;
}
.footer .Information li {
  font-size: 17px;
  line-height: 37px;
  color: #ffffff;
}
.footer .Information li a:hover {
  color: #bdbdbe;
}
.footer .helpful ul li a {
  color: #fff;
  font-size: 17px;
  line-height: 30px;
}
.footer .helpful ul li a:hover {
  color: #bdbdbe;
}
.footer ul.social_icon {
  float: right;
}
.footer ul.social_icon li {
  display: inline-block;
  padding-right: 15px;
}
.footer ul.social_icon li:last-child {
  padding-right: 0;
}
.footer ul.social_icon li a {
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 33px;
  font-size: 28px;
  font-weight: bold;
}
.footer ul.social_icon li a:hover {
  color: #bdbdbe;
  transform: rotate(360deg);
  transition: ease-in all 0.7s;
}
.footer .conta ul li a {
  color: #ffffff;
}
.footer .conta ul li a i {
  padding-right: 5px;
}
.footer .copyright {
  background: #151515;
  margin-top: 80px;
  padding: 20px 0px;
}
.footer .copyright p {
  color: #bdbdbe;
  font-weight: 400;
}
.footer .copyright a {
  color: #bdbdbe;
}
.footer .copyright a:hover {
  color: #fff;
}

/* buttons */
#login, #search {
  width: 6em;
  height: 2.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border-style: none;
  cursor: pointer;
}

#search {
  background-color: black;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}

#login {
  background-color: black;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}

#search:hover, #login:hover {
  color: red;
}

.main_article h1 {
  font-size: 35px;
}

.side_article h3 {
  font-size: 20px;
  margin: 0 0 5px 0;
}
.side_article h5 {
  font-weight: bold;
  color: red;
}
.side_article p {
  font-size: 17px;
}

.world_briefing {
  font-size: 1.5em;
  text-align: left;
}
.world_briefing h2 {
  margin: 10px 0 0 0px;
}
.world_briefing h3 {
  color: black;
  font-size: 20px;
}
.world_briefing p {
  color: grey;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 0 0 0;
}

.heading h2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}
.heading p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.economy h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.5em;
  color: black;
}
.economy p {
  margin: 5px 0 0 0;
  color: rgb(89, 88, 88);
}

#box_content h {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#box_content p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* mini icons */
.icons {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  padding-bottom: 1.5em;
  margin: 0 0 20px 0;
}
.icons .icon_logos {
  border-left: 1px solid grey;
  padding-left: 10px;
}
.icons #icon_info {
  text-align: left;
}
.icons #icon_info h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 20px;
}
.icons #icon_info p {
  font-family: serif;
  font-weight: 300;
}

.nav_logo img {
  width: 40px;
  background-color: red;
  padding: 5px;
}

.main_article img {
  width: 100%;
  height: auto;
  background-size: 100%;
  background-position: center;
}

.side_article img {
  width: 100%;
  height: auto;
  background-size: 100%;
  background-position: center;
}

.briefing_one img {
  height: 300px;
  width: auto;
}

.briefing_two img {
  height: auto;
  width: 300px;
}

.briefing_four img {
  width: 270px;
  height: auto;
}

.economy-wrapper img {
  height: 400px;
  width: 100%;
}

* {
  margin: 0;
  padding: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  max-height: 100%;
  position: relative;
}

.container {
  width: 100%;
}

section {
  height: 220vh;
  padding: 10px 5%;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
